.wrapper-horizontal {
    display: flex;
    min-width: 100%;
    min-height: 200px;
    overflow-x: auto;
    padding-top:7px;    
}
.card {
    min-width: 200px;
    min-height: 200px;
    padding:0px;
    margin: 10px;
    background-image: url('http://fillmurray.com/200/200')
}

.location-gallery {
    padding-left:40px;
}

/* Nav Bar */
.navbar {
    background-color: #2B3031;
    height: 40px;
    color: #ffffff
}
.nav-link {
    color: #ffffff;
}
.nav-link:hover {
    color: #ed135d;
}

/* Get Qoute */
.get-quote {
    background-color: #000000;
    color: #ed135d;
    padding: 20px;
    
}



/* Colors */
.magenta {
    background-color: #ed135d
}


